img {
    width: 100%;
}

button {
    background-color: rgb(13, 121, 158);
    color: rgb(255, 255, 255);
}

.nav-bar {
    background: linear-gradient(
        90deg,
        lightgreen,
        green,
        darkgreen
    );
    height: 100px;
}

.product {
    display: flex;
}

.product-image {
    width: 200px;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.disabledButton {
    background-color: #d8d8d8;
}

.outOfStock {
    text-decoration: line-through;
}